# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Metro / bundler cache
.metro-health-check*
.cache/

# native build directories
android/
ios/

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
*.log

# local environment files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# IDE/editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
